@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
body{
	background-color: #183bd6;
	box-sizing: border-box;
	margin-top: 5%;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: white;
    align-items: center;
    font-size: 1.1em;
}
input, select{
	font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
}
button{
	font-family: 'Raleway', sans-serif;
	cursor: pointer;
    background-color: #f0f8ff;
    color: #000000;
    border: 0;
    border-radius: 4px;
    font-size: 1.1em;
}
table{
    margin: auto;
    border: 1px solid black;
    flex-shrink: 0;
}
td, th{
    border: 1px solid black;
    padding: 5px;

}
a{
    color: white;
}
section{
    display: inline-block;
    margin: 2%;
}
div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

